<html>
    <head>
        <title>FieryRose's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">FieryRose's Blog</a></h1>
        </div>

        <div>
            <p>published: 07.12.2019, 8:18</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello there. Welcome to my blog</p>
        </div>

        <div>
            <p>published: 07.12.2019, 8:19</p>
            <h2><a href="">My second post</a></h2>
            <p>Welcome to my second post</p>
        </div>
    </body>
</html>